.course-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.course {
    width: 220px;
    height: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    margin: 3px;
    border-radius: 10px;
}

.course-div {
    width: 230px;
    height: 350px;
    border: 1px solid lightgray;
}

.course-title {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.course-desc {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.course-price {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: red;
    text-align: right;
    padding-right: 20px;
}

.course-link {
    font-size: 12px;
    text-decoration: none;
    text-align: right;
    padding-right: 10px;

}